* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.text-primary {
  color: #FD6E0A;
}

.btn-primary {
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding: 5px 25px;
  border: none;
  height: 45px;
  border-radius: 5px;
  background-color: #FD6E0A;
}

.header {
  background: #FFF8F3;
  background-image: url(../images/header_bg.png), url(../images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}

/* header and navigation styles */
nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 200px;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-left: 50px;
}

/* banner styles*/
.banner {
  margin: 0 150px;
  display: flex;
  align-items: center;
}

.banner-title {
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 18px;
}

.banner-sub-title {
  font-size: 45px;
  font-weight: 600;
}

.banner-description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}

/* main section */
main {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  margin-top: 130px;
}

/* about section styles */

.about {
  border-radius: 10px;
  background: #FFF8F3;
  padding: 130px 150px;
  text-align: center;
}

.section-title {
  margin-bottom: 50px;
  color: var(--Dark-01, #181818);
  font-size: 35px;
  font-weight: 700;
  text-align: center;
}

.section-description {
  color: var(--Dark-03, #757575);
  font-size: 18px;
  margin-bottom: 30px;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}

.info-title {
  color: var(--Dark-03, #757575);
  font-size: 20px;
}

.info-description {
  color: var(--Dark-02, #474747);
  font-size: 20px;
  font-weight: 700;
}

/* what i do styles */

.skills-container {
  display: flex;
  gap: 24px;
}

.skill-title {
  font-size: 20px;
  font-weight: 700;
}

.skill {
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
}

/* resume styles */
.resume-content {
  display: flex;
  gap: 24px;
}
.resume-item{
  margin-top: 30px;
  margin-bottom: 30px;
}

.resume .title {
  color: var(--Dark-02, #474747);
  font-size: 25px;
  font-weight: 100;
  margin-bottom: 10px;
}

.resume .subtitle {
  color: var(--Dark-03, #757575);
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.resume .description {
  color: var(--Dark-03, #757575);
}
.resume-btn{
  margin:50px;
  text-align: center;
}
/* contact-styles */

.contact{
  display: flex;
  gap: 100px;
  background-color: #FFF8F3;
  padding: 130px 200px;
}
.contact .section-title{
  text-align: left;

}
.contact input, textarea{
  margin-bottom: 24px;
  border: 0;
  width: 100%;
  padding: 18px 30px;
}
input{
  height: 64px;
}
.contact a{
  text-decoration: none;
}